<div class="ui centered grid">
<div class="ui computer only row">
<h2>生徒の一覧</h2>
</div>
<div class="ui relaxed divided list" style="margin:50px;">
<% @students.each do |s| %>
  <div class="item">
    <i class="large github middle aligned icon"></i>
    <div class="content">
      <%= link_to "#{s.username}", dailies_index_path(s.id) %>
      <div class="description">Updated 10 mins ago</div>
    </div>
  </div>
<% end %>
</div>
</div>