<%= stylesheet_link_tag "student"%>

<div class="ui centered grid">
<div class="ui  only row">
  <div class="student_list_title">
    <h2>生徒の一覧</h2>
  </div>
</div>
<div class="ui relaxed divided list" style="margin:50px;">

<% @students.each do |s| %>
  <div class="item">
    <i class="large user icon"></i>
    <%= link_to "名前: #{s.username}", dailies_index_path(s.id), data: {"turbolinks" => false}, class:"content" %></li><br>
  </div>
<% end %>

</div>
</div>