<%= stylesheet_link_tag "home"%>

<h1>food Manager</h1>

<p>食事を管理するためのアプリケーションです</p>

<div class="buttons">
  <a href="users/sign_in" class="ui primary button" id="button_id" onclick="loction.href='リンク先のURL'">トレーナーとしてログイン</a>
  <a href="student/loginform" class="ui primary button" id="button_id" >生徒としてログイン</a><br>

</div>