// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1{
  font-size: 5em;
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
  padding: 0;

  background:-webkit-linear-gradient(45deg, rgba(0, 38, 255, 0.64), rgba(0, 255, 162, 0.85));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p{
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
  background:-webkit-linear-gradient(45deg, rgba(0, 38, 255, 0.64), rgba(0, 255, 162, 0.85));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.buttons{
  margin: 100px 0 ;
  text-align: center;
}
#button_id{
  width: 210px;
  margin: 5px;
  
}