<form class="ui reply form" data-dashlane-rid="0035803497efb8a4" data-form-type="" action="/comments" method="post">
  <div class="field">
    <textarea data-dashlane-rid="765bf09375905c29" data-form-type="" name="content"></textarea>
  </div>
  <input type="hidden" name="daily_id" value=<%= "#{params[:id]}"%>>
  <button type="submit" class="ui blue labeled submit icon button">
    <i class="icon edit"></i> Add Reply
  </button>
</form>