<div class="ui centered grid">
  <h2 class="computer only row">画像を登録する</h2>
  <%= form_with url: dailies_path do |f| %>

    <h3>画像</h3>
    <div class="ui form computer only row">
      <%= f.file_field :image, accept: "image/*"%>
    </div>
    <%= f.hidden_field :date, value: @date %>
    <div class="ui computer only row">
      <%= f.submit "登録", class: "ui button",style: "margin:30px" %>
    </div>
  <% end %>
</div>