
<canvas id="canvas"></canvas>
<p>スタンプのプレビュー</p>
<canvas id="stamp_viewr"></canvas>

<%# ラジオボタンを追加する %>
<div>
  <input type="radio" id="stamp1" name="scales" value="1">
  <label for="scales">まる</label>
</div>
<div>
  <input type="radio" id="stamp2" name="scales" value="2">
  <label for="scales">三角</label>
</div>
<div>
  <input type="radio" id="stamp3" name="scales" value="3">
  <label for="scales">ばつ</label>
</div>
<%# テキストエリア %>
<%# カラーピッカー %>
<textarea name="textarea" id="context" rows="4" cols="40"></textarea>
<%# サイズ変更 %>
<input type="range" name="size" id="stamp_size" min="1" max="100" value="100">
<input type="color" name="color">

<%# @daily.imageを非表示labelにする %>
<div id="image_path"><%= @daily.image %></div>

<style>
  #stamp_viewr {
    border: 1px solid black;
  }
</style>
    <%= javascript_pack_tag 'dailies/stamp' %>